.container {
    margin-top: 30px;
}

.add-func {
    margin-bottom: 30px;
}

.list-func {
    margin-bottom: 50px;
}

.btn-add-func {
    margin-right: 10px;
}

.sucess {
    background-color: #b1e8b1;
    width: 30%;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
}