  <div class="container">
    <div class="card list-ponto">
      <h5 class="card-header">Lista de registro de pontos</h5>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Id Func</th>
                <th scope="col">Tipo da Batida</th>
                <th scope="col">Horário</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pontos">
                <td>{{p.id}}</td>
                <td>{{p.idfunc}}</td>
                <td>{{p.tipobatida}}</td>
                <td>{{p.datahora | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="card add-ponto">
      <h5 class="card-header"> Bater ponto</h5>
      <div class="card-body">
        <form id="add-form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="idfunc">Id</label>
            <input type="text" [(ngModel)]="ponto.idfunc" id="idfunc" idfunc="idfunc" #idfunc="ngModel" required
              class="form-control" [ngClass]="{ 'is-invalid': f.submitted && idfunc.invalid }" placeholder="Digite seu ID">
            <div *ngIf="f.submitted && idfunc.invalid" class="invalid-feedback">
              <div *ngIf="idfunc.errors.required">ID é obrigatório</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>