<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gerenciamento de ponto</a>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/ponto">Bater ponto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/funcionario">Funcionários cadastrados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/funcionario/adicionar">Cadastro de Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/funcionario/info">Informações de um funcionário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ponto/registros">Registros de ponto</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
<!-- <app-table-func></app-table-func> -->